
h1 {
  background-color: black;
  margin: 0;
  text-align: center;
  color: turquoise;
}

#game-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Img/cssbackground.gif);
  height: 100vh; /* Use 100% of the viewport height */
}

#instructions {
  background-color: black;
  margin: 0;
  text-align: center;
  color: turquoise;
}
ul {
  background-color: black;
  margin: 0;
  text-align: left;
  color: turquoise;
}
